<div class="row color2">
    <div class="col-md-1 ml-0 p-0">
        <span> {{skill.lang}} </span>
    </div>
    <div class="col-md-10 ml-3 p-0">
        <div class="progress" style="height: 1px;">
    
            <div class="progress-bar" role="progressbar" [style]="skill.level"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" [style]="skill.level"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
</div>




