<div class="main bg-dark p-5">
    <div class="container">
        <div class="row text-white ">
            <div class="col-md-4">
                <h5>Get in Touch</h5>
                <span><i class="fa-solid fa-phone m-2"></i>01550191001</span><br>
                <span><i class="fa-solid fa-phone m-2"></i>01550191001</span>
            </div>
            <div class="col-md-4 text-center">
                <button class="btn btn-danger">Contuct me</button>
            </div>
            <div class="col-md-4 text-right">
                <span><i class="fa-brands fa-linkedin m-2"></i></span>
                <span><i class="fa-brands fa-facebook m-2"></i></span>
                <span><i class="fa-brands fa-instagram m-2"></i></span>
                <p>copyright</p>
            </div>
        </div>
    </div>
</div>
