<div class="main mt-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>Aboute me</h1>

            </div>
            <div class="col-md-9">
                <p>
                    I'm Full-Stack Developer from Cairo, Egypt, working in web development. I enjoy turning complex
                    problems into simple, beautiful and intuitive development .

                    My job is to build your website so that it is functional and user-friendly but at the same time
                    attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and
                    easy to use. My aim is to bring across your message and identity in the most creative way.
                </p>
                <a href="../../assets/Mohamed-Saleh.pdf" class="btn btn-danger mt-4" download>Download CV</a>
            </div>
        </div>
    </div>
</div>