<div class="main ">
    <div class="container mt-5 ">
        <h1>Portfolio</h1>
        <div class="row m-5 text-white">
            <div class="col-md-4 col-sm-6" >
                <div class="card m-1 w-100 color1" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">bhjkvghjcgvghjk</h5>
                    </div>
                </div> 
                <div class="card m-1 w-100 color1" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">bhjkvghjcgvghjk</h5>
                    </div>
                </div> 
                <div class="card m-1 w-100 color1" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">bhjkvghjcgvghjk</h5>
                    </div>
                </div> 
                <div class="card m-1 w-100 color1" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">bhjkvghjcgvghjk</h5>
                    </div>
                </div> 
                <div class="card m-1 w-100 color1" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">bhjkvghjcgvghjk</h5>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
